<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Footer</title>
  <link href="../layouts/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
</head>

<body>

<footer class="main_footer">

  <div class="content">
    <div class="colfooter">

      <div class="titleFooter"> <span class="icon icon-world"></span> Menu</div>
      <ul>

        <li><a title="Página Inícial" href="../index.html" target="_parent">Página Inícial</a></li>
        <li><a title="Html5" href="../pages/categorias/esportes/esportes.html" target="_parent">Esportes</a></li>
        <li><a title="Css3" href="../pages/categorias/tecnologia/tecnologia.html" target="_parent">Tecnologia</a></li>
        <li><a title="jQuery" href="../pages/categorias/saude-e-bem-estar/saude-e-bem-estar.html" target="_parent">Saúde
            e bem estar</a></li>
        <li><a title="WordPress" href="../pages/categorias/cinema/cinema.html" target="_parent">Cinema</a></li>
        <li><a title="Fale Conosco" href="../pages/categorias/vestibular/vestibular.html"
            target="_parent">Vestibular</a></li>
        <li><a title="Fale Conosco" href="../pages/categorias/musica/musica.html" target="_parent">Música</a></li>

      </ul>
    </div><!--Col Footer 1-->
    <div class="colfooter">

      <div class="titleFooter"> <span class="icon icon-share-outline"></span> Redes Sociais</div>
      <a href="https://www.instagram.com/equipecodethee/" target="_blank" class="redesocial"><span> <i
            class="icon icon-facebook"><i class="fa fa-instagram" aria-hidden="true"></i></i> Instagram</span></a>
      <a href="https://www.linkedin.com/in/luana-fassini-58222126b" target="_blank" class="redesocial"><span> <i
            class="icon icon-instagram"><i class="fa fa-linkedin" aria-hidden="true"></i></i> Linkedin</span></a>
      <a href="https://twitter.com/Code_three3" target="_blank" class="redesocial"><span> <i
            class="icon icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></i> Twitter</span></a>
    </div><!--Col Footer 2-->
    <div class="colfooter">

      <div class="titleFooter"> <span class="icon icon-bubble-2"></span> Atendimentos</div>
      <p><i class="icon icon-mail"></i> codethree@gmail.com.br</p>
      <p><i class="icon icon-phone"></i> 19 99279-8617</p>
      <p><i class="icon icon-whatsapp"></i> 19 99288-8606</p>
    </div><!--Col Footer 3-->
    <div class="colfooter">

      <div class="titleFooter"> <span class="icon icon-mail-3"></span> Contato</div>

      <form class="my-formulario" action="#" method="post">

        <label class="label">

          <input class="effect-line" type="text" placeholder="Seu nome..." autocomplete="off">
          <span class="focus-border"></span>

        </label>
        <label class="label">

          <input class="effect-line" type="text" placeholder="Seu e-mail..." autocomplete="off">
          <span class="focus-border"></span>

        </label>
        <label class="label">

          <input class="effect-line" type="text" placeholder="Seu assunto..." autocomplete="off">
          <span class="focus-border"></span>

        </label>
        <label class="label">

          <textarea class="effect-line" name="mensagem" placeholder="Deixe sua mensagem..." rows="2"
            autocomplete="off"></textarea>
          <span class="focus-border"></span>

        </label>
        <input type="hidden" name="acao" value="enviar">
        <button class="btn-enviar" title="Enviar">Enviar</button>
      </form>
    </div><!--Col Footer 4-->
    <div class="clear"></div>

  </div><!--Contant-->
  <div class="main_footer_copy">

    <p class="m-b-footer"> CodeThree - 2023, todos os direitos reservados. ©</p>
    <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: <a href="#" title="Seu nome">CodeThree</a></p>

  </div>

</footer>

</body>

</html>