<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="preload" href="testeheader.css" as="style">
    <link rel="preload" href="../assets/js/menu.js" as="script">

<link rel="stylesheet" href="testeheader.css">
  
</head>

<body id="primeiro">
    <header id="suma">
     
        <div id="container">
        
            <nav id="mots">
                <ul>
                    <li><a class="anav_1" href="../index.html" target="_parent" id="link">Menu</a></li>
                    <li><a class="anav_2" href="./../pages/sobre-nos/sobre-nos.html" target="_parent" id="link">Sobre_Nós</a></li>
                    <li><a class="anav_4" href="./../pages/feedback.html" target="_parent" id="link">Feedback</a></li>
                    <li><a class="anav_5" href="../pages/premium.html" target="_parent" id="link">Assinatura</a></li>
                    <li><a class="anav_5" href="../pages/login-to-do-list.html" target="_parent" id="link">Edição</a></li>
                </ul>
                
            </nav>
        <div>
  
        </div>
            <div class="search-box">
                <button class="btn-search"><i class="fa fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Busque...">
                <h1>C3_News</h1>
            </div>
        </div>

        </header>
        
</body>

</html>